<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="moonvr">
    </location>
    
    <system.web>
        <compilation debug="false" targetFramework="4.8" tempDirectory="C:\Windows\Microsoft.NET\Framework\v4.0.30319\Temporary ASP.NET Files">
            <assemblies>
                <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </assemblies>
        </compilation>
        <httpRuntime targetFramework="4.8" />
        <customErrors mode="Off"/>
    </system.web>
    
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <modules runAllManagedModulesForAllRequests="true">
            <!-- <add name="IPBlacklistModule" type="LabWnccNet.IPBlacklistModule, IPBlacklistChecker" /> -->
        </modules>
        
    </system.webServer>
</configuration>
